@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,600&display=swap&subset=cyrillic-ext);

//----variables----------------------------------------------------------//

$height-ui: 50px;
$transition: all ease-in-out 0.2s;

$input-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
$button-shadow: 0 1px 2px rgba(70, 131, 217, .48),
inset 0 -1px 0 rgba(0, 0, 0, .12);

$shadow-focus: 0 0 0 3px rgba(70, 131, 217, .12);
$input-shadow-focus: 0 0 0 2px rgba(70, 131, 217, .12);

$primary-font-weight: 400;
$secondary-font-weight: 600;

$border-radius: 8px;

$font-size-s: 16px;
$font-size-m: 18px;
$font-size-l: 28px;

$offset: 10px;

:root {
  --like-color: #e55c78;
  --like-bg-hover-color: #e55c771b;
  --delete-bg-hover-color: #a8a8a81b;
  --message-color: rgba(218, 119, 119, 0.697);

  --text-color-grey: #828282;
  --text-main-color: #000000;
  --bg-element-color: #ffffff;
  --bg-body-color: #f2f2f2;

  --button-main-color: #0089FF;
  --button-hover-color: #0075dc;
  --button-disabled-color: #a2c1ec;
  --button-text-color: #ffffff;

  --form-blur-bg-color: #f7f7f7;
  --form-focus-bg-color: #ffffff;

  --border-color-focus: #5ca0ff;
  --border-color-hover: #bdd6fa;

  --user-preview-bg-color: #70d4ff; //#89e0dd
  --user-preview-text-color: #e1fff7;
}

//----main----------------------------------------------------------//

#root {
  box-sizing: content-box;
  max-width: 1000px;
  padding: 3 * $offset;
  margin: (2 * $offset) auto;
  border-radius: $border-radius;
  background-color: var(--bg-element-color);
}

body {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-size: $font-size-s;
  font-weight: $primary-font-weight;
  line-height: 28px;

  color: var(--text-main-color);
  background-color: var(--bg-body-color);
}

//----comments----------------------------------------------------------//

.comments {
  display: flex;
  flex-direction: column;

  &__comments-wrapper {
    padding: (3 * $offset) 0;
  }
}

//----header----------------------------------------------------------//

.header {
  font-weight: $secondary-font-weight;
  font-size: $font-size-l;
  margin-bottom: 2 * $offset;
}

//----form----------------------------------------------------------//

.form {
  padding: 1.5 * $offset;
  display: flex;
  flex-direction: column;
  transition: $transition;

  font-size: $font-size-m;

  border-radius: 1.6 * $border-radius;
  border: 1px solid rgba(0, 0, 0, .03);
  background-color: #f7f7f7;

  &_focused {
    border-color: var(--border-color-focus) !important;
    box-shadow: $shadow-focus;
    background-color: var(--form-focus-bg-color);
  }

  &:hover {
    box-shadow: $shadow-focus;
    border-color: var(--border-color-hover);
    background-color: var(--bg-element-color);
  }

  &__title-wrapper {
    position: relative;
    display: flex;

    & *:not(:last-child) {
      margin-right: 1.5 * $offset;
    }
  }

  &__footer-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__username-field {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  &__date-field {
    width: 20%;
    font-weight: 300;
    color: var(--text-color-grey);
  }

  &__username {
    height: $height-ui;
  }

  &__date {
    height: $height-ui;
  }

  &__textarea {
    width: 100%;
    resize: none;
  }
}

//----form-field----------------------------------------------------------//

.form-field {
  position: relative;

  &__field {
    width: 100%;
    padding: $offset;

    border-radius: $border-radius;
    box-shadow: $input-shadow;
    transition: $transition;

    &:focus {
      box-shadow: $input-shadow-focus;
    }
  }

  &__message {
    display:block;
    height: 30px;
    color: var(--message-color);
  }
}

//----borderline----------------------------------------------------------//

.borderline {
  height: 2px;
  margin: (1.5 * $offset) 0;
  background: rgba(0, 0, 0, 0.034);
}

//----button----------------------------------------------------------//

.button {
  min-width: 170px;
  height: $height-ui;

  font-weight: $secondary-font-weight;

  color: var(--button-text-color);
  border-radius: $border-radius;
  box-shadow: $button-shadow;
  background: var(--button-main-color);
  transition: $transition;

  &:disabled {
    background-color: var(--button-disabled-color);
    cursor: auto;
  }

  &:not(:disabled):hover {
    background: var(--button-hover-color);
  }

  &:not(:disabled):hover:active {
    transform: translateY(3px);
  }
}

//----comment----------------------------------------------------------//

.comment {
  &:not(:last-child) {
    margin-bottom: (3 * $offset);
  }

  &__title-wrapper {
    margin-bottom: $offset;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & *:not(:last-child) {
      margin-right: 1.5 * $offset;
    }
  }

  &__title-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__user-preview {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: $font-size-l;
    font-weight: $secondary-font-weight;
    color: var(--user-preview-text-color);
    background-color: var(--user-preview-bg-color);
  }

  &__username {
    font-size: $font-size-m;
    font-weight: $secondary-font-weight;
  }

  &__text {
    white-space: pre-wrap;
    word-break: break-all;
    margin-bottom: $offset;
  }

  &__date {
    color: var(--text-color-grey);
  }

  &__like-wrapper {
    display: inline-flex;
    align-items: center;
  }

  &__like-count {
    color: var(--text-color-grey);
  }

  &__like-button {
    margin-right: $offset;

    display: flex;
    align-items: center;
  }

  &__like-icon {
    width: 40px;
    height: 40px;
    padding: $offset;

    border-radius: 40%;
    transition: $transition;

    &:hover {
      stroke: var(--like-color);
      background-color: var(--like-bg-hover-color);
    }

    &:active {
      stroke: var(--like-color);
      transform: scale(1.5);
    }

    &_state {
      &_active {
        fill: var(--like-color);
        stroke: var(--like-color);
      }

      &_disabled {
        fill: none;
        stroke: var(--text-color-grey);
      }
    }
  }

  &__delete-icon {
    width: 40px;
    height: 40px;
    padding: $offset;
    border-radius: 40%;
    transition: $transition;

    & g{
      fill: var(--text-color-grey);
    }

    &:hover {
      background-color: var(--delete-bg-hover-color);
    }

    &:active {
      transform: scale(0.8);
    }
  }
}

//----media----------------------------------------------------------//

//--desktop screen section (column section to row) 
@media only screen and (max-width: 950px) {
  .form {
    &__title-wrapper {
      flex-direction: column;

      & *:not(:last-child) {
        // margin-bottom: 1.5 * $offset;
      }
    }

    &__footer-wrapper {
      flex-direction: column;
      align-items: center;

      & *:not(:last-child) {
        margin-bottom: 1.5 * $offset;
      }
    }

    &__username-field {
      width: 100%;
    }

    &__date-field  {
      width: 100%;
    }
  }
}